@charset "UTF-8";
/*
 *※このファイルは基本的に編集しないこと。他のCSSで設定上書きでの対処を推奨。
 *==================================================================================================== */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, main, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

html {
  font: 14px sans-serif; }

body {
  -webkit-text-size-adjust: 100%;
  /* 画面回転時の自動文字サイズ調整機能OFF */ }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section {
  display: block; }

img {
  vertical-align: top;
  font-size: 0;
  -ms-interpolation-mode: bicubic;
  /* IE系での画像リサイズ時のリサンプリング設定 */
  background: transparent;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)";
  /* IE8 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF);
  /* IE6 & 7 */
  zoom: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }
  a:link {
    text-decoration: underline; }
  a:focus {
    overflow: hidden;
    outline: none; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, select {
  vertical-align: middle;
  font-size: 100%; }

textarea {
  font-size: 100%; }

pre, code, kbd, samp, tt {
  font-family: monospace; }

sub, sup {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0; }

@media print {
  body {
    -webkit-print-color-adjust: exact;
    /* 印刷時の背景印刷 */ } }

	
/* linghtbox */
.cur_zoom:after {
    position: absolute;
    z-index: 100;
    bottom: 0;
    right: 0;
    display: block;
    width: 40px;
    height: 40px;
    background: url(../common_img/lightbox/ico-zoom.png);
    content: "";
}
a.cur_zoom img:hover { opacity: 1 !important; }