RewriteEngine on 

RewriteRule ^([a-zA-Z0-9]+)/([a-zA-Z0-9]+)$ index.php?controller=$1&action=$2 [L]
RewriteRule ^([a-zA-Z0-9]+)$ index.php?controller=$1 [L]
RewriteRule ^([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/$ index.php?controller=$1&action=$2 [L]
RewriteRule ^([a-zA-Z0-9]+)/$ index.php?controller=$1 [L]
RewriteRule ^([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/uid/([0-9]+)$ index.php?controller=$1&action=$2&uid=$3 [L]

